Booking Agent.json
{
  "name": "Booking Agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2080,
        1056
      ],
      "id": "b8f86894-cbc2-4c53-9a66-cfe89dded482",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.input }}",
        "options": {
          "systemMessage": "# Role:\nYou are a healthcare appointment agent. You help users find and confirm doctor appointments using connected tools.\n \n# Behavior\n- Use `doctor_info` to look up doctor details and return id, name, specialization, contact.\n- Use `doctors_slots` to query available times. Each slot has doctor_id, datetime, is_available.\n- Use the id field from doctor_info to query from the doctors_slots tool.\n \n \n \n# General Workflow:\n1. Extract doctor name or specialty from user input.\n2. Look up matching doctors in `doctor_info` and return all matching fields.\n3. Query `doctors_slots` for future slots (`is_available = 1`) for those doctors\n4. Return the **first available slot** for each matching doctor.\n5. Ask for user confirmation before proceeding.\n6. Upon confirmation, let the user know the appointment is booked\n \n \n# Guidelines:\n- Based on the user input, you may start from the begining or middle of workflow.\n- If the user doesn't specify a doctor or specialty, ask for one.\n- If the user input has all the appointment information (the doctor's name and date and time of slot details), proceed to get the confirmation\n-upon confirmation book the appointment\n \n- Do NOT re-fetch doctor or slot data unless no context is provided\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2368,
        1056
      ],
      "id": "57db06e5-4760-45ac-bd75-cfe45045a4c0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2304,
        1280
      ],
      "id": "370bfba2-ed4f-49bb-93d7-5326fab1f74e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1wVk2tVCKOUM4lZt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1YMAdcVcLrXOObBL470kMbF8DWXI5C1LTbVYaEvxdcto",
          "mode": "list",
          "cachedResultName": "Copy of doctors_info_data_Dec14",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YMAdcVcLrXOObBL470kMbF8DWXI5C1LTbVYaEvxdcto/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 421311308,
          "mode": "list",
          "cachedResultName": "doctors_info_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YMAdcVcLrXOObBL470kMbF8DWXI5C1LTbVYaEvxdcto/edit#gid=421311308"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2624,
        1264
      ],
      "id": "f44fd732-81ae-4dbb-82b0-51155b93358a",
      "name": "Doctor_Info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b9cVz6N7am0CglYD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xr-_PXusfFP2FRXhw9N2eYc8l7GnqRWaMuUjjAxifCk",
          "mode": "list",
          "cachedResultName": "Copy of doctors_slots_data_Dec14",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xr-_PXusfFP2FRXhw9N2eYc8l7GnqRWaMuUjjAxifCk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2016349323,
          "mode": "list",
          "cachedResultName": "doctors_slots_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xr-_PXusfFP2FRXhw9N2eYc8l7GnqRWaMuUjjAxifCk/edit#gid=2016349323"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2768,
        1264
      ],
      "id": "c301164e-c1fd-46c9-a5ba-d21f63bafd56",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b9cVz6N7am0CglYD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('To', ``, 'string') }}",
        "subject": "={{ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        2480,
        1280
      ],
      "id": "bff8b88c-7fec-4399-80b4-0551f93dc51c",
      "name": "Send a message in Gmail",
      "webhookId": "4c6eb217-23e2-4b62-ad16-0ea7ff662d89",
      "credentials": {
        "gmailOAuth2": {
          "id": "SlN7eVYWhCUo4rde",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Doctor_Info": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3d34c934-be00-4966-9635-4e14a650c235",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5126115a5d1acb3c4a0d17ab58af57746255ecf82a899e3437c8dfb038e2510e"
  },
  "id": "gqz0Maqy9B0hKBzZ",
  "tags": []
}